.main-navbar {
  background-color: #ffffff;
  padding: 15px 0;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

}

.brand-logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000 !important;
}


.brand-logo .icon-logo {
  height: 60px;

}

.nav-link-custom {
  color: #333 !important;
  margin: 0 12px;
  font-weight: 500;
}

.nav-link-custom:hover {
  color: #fd7e14 !important;
}

.search-form {
  margin-right: 15px;
}

.search-input {
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #ddd;
  padding: 6px 12px;
}

.search-btn {
  border-radius: 35px 35px 35px 35px;
  margin-left: 10px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
}

.search-btn:hover {
  color: #fd7e14 !important;
}

/* whhat */
.nav-icons {

  display: flex;
  gap: 12px;
  margin-left: 15px;
}

.nav-icon {
  font-size: x-large;
  cursor: pointer;
}

.nav-icon:hover {
  color: #f87537;
}


/* added: keep the icon color same as surrounding text
reason: turns blue when hovered */
.nav-icons .nav-icon a {
  color: inherit;
  text-decoration: none;
}

.nav-icons .nav-icon a:hover {
  color: #f87537;
}

